<h3>Add a new contact</h3>
<hr/>
<form action="" class="form">
  <div class="form-group">
    <label for="firstname">First Name</label>
    <input type="text" class="form-control" id="firstname" name="firstName" [(ngModel)]="contact.firstName">
  </div>

  <div class="form-group">
      <label for="lastname">Last Name</label>
      <input type="text" class="form-control" id="lastname" name="lastName" [(ngModel)]="contact.lastName">
  </div>
  
  <div class="form-group">
      <label>Gender</label>
      <label for="genderMale"><input type="radio" name="gender" id="genderMale" value="Male" [(ngModel)]="contact.gender">Male</label>
      <label for="genderFemale"><input type="radio" name="gender" value="Female" id="genderFemale" [(ngModel)]="contact.gender">Female</label>
  </div>

  <div class="form-group">
      <label for="lastname">Phone</label>
      <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="contact.phone">
  </div>

  <div class="form-group">
      <label for="lastname">Email</label>
      <input type="text" class="form-control" id="email" name="email" [(ngModel)]="contact.email">
  </div>

  <div class="form-group">
      <label for="lastname">Date of birth</label>
      <input type="date" class="form-control" id="dob" name="dob" [(ngModel)]="contact.dob">
  </div>

  <div class="form-group">
      <label for="lastname">City</label>
      <input type="text" class="form-control" id="city" name="city" [(ngModel)]="contact.city">
  </div>

  <div class="form-group">
      <label for="lastname">State</label>
      <input type="text" class="form-control" id="state" name="city" [(ngModel)]="contact.state">
  </div>

  <div class="form-group">
    <label for="lastname">Country</label>
    <input type="text" class="form-control" id="country" name="city" [(ngModel)]="contact.country">
</div>

<button type="submit" class="btn btn-primary" (click)="addContact()">Add</button> 

</form>